<div class="header-background"></div>
<div class="header">
  <button class="back-button" (click)="goBack()">&#8592;</button>
  <h2 class="title-header">La Dolce Crema</h2>
</div>

<div class="product-container">
  <div class="product-content">
    <h3 class="product-title">{{ sorvete.name }}</h3>
    <img [src]="sorvete.image" alt="{{ sorvete.name }}" class="product-image">
    <div class="product-info">
      <p class="product-description">{{ sorvete.description }}</p>
      <p class="product-price">R$ {{ sorvete.price | number: '1.2-2' }}</p>
    </div>
  </div>
  <button class="complete-order-button" (click)="goToOrderComplete()">Concluir Pedido</button>
</div>
