.header-background {
  background-color: #2E3A61; /* Cor de fundo azul */
  width: 100%; /* Garante que ocupa toda a largura da tela */
  height: 120px; /* Altura fixa */
  position: absolute; /* Permite que outros elementos fiquem sobrepostos */
  top: 0;
  left: 0;
  justify-content: center; /* Centraliza o título horizontalmente */
  align-items: center;
  z-index: -1; /* Coloca o fundo atrás do conteúdo */
}
/* Estilo para o cabeçalho */
.header {
  position: relative;
  height: 120px; /* Altura maior para um cabeçalho mais destacado */
  display: flex;
  justify-content: center; /* Centraliza o título horizontalmente */
  align-items: center; /* Centraliza o título verticalmente */
  box-sizing: border-box;
}


.title-header {
  font-weight: bold;
  font-size: 3rem; /* Aumenta o tamanho do texto */
  color: white; /* Mantém a cor branca */
  margin: 0;
  padding: 0;
}

/* Estilo para a estrutura geral */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f7f7f7;
  height: calc(100vh - 100px);
}

/* Estilo para o conteúdo */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  height: 100%;
}

.content-welcome
{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.title-start{
  font-weight: bold;
  margin: 0;
  font-size: 3rem;
  color: #2E3A61;
}

.content-button
{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* Estilo para o botão */
.content-button button {
  background-color: #2E3A61; /* Azul escuro */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; 
  font-weight: bold;
}

.content-button button:hover {
  background-color: #2E3A61; /* Azul mais escuro no hover */
}
  